/*common rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(213,219,217);
    background: linear-gradient(360deg,  rgba(213,219,217,1) 90%, rgba(28,150,135,1) 10%);
}

.container{
    width: 80%;
    min-width: 1080px;
    height: calc(100vh - 50px);
    min-height: 500px;
    margin: 25px auto;
    display: flex;
    justify-content: center ;
    align-items: center;
}

aside{
    height: 100%;
    width: 30%;
    background-color: aqua;
}

main{
    height: 100%;
    width: 70%;
    background-color: violet;
}