<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container"id="root">
        <!--sezione di sinistra-->
        <aside>
            <!--Sezione user-->
            <div class="user">
                <!--imagine di profilo e nome utente-->
                <div class="user-profile">
                    <img  src="img/avatar_io.jpg" alt="user picture">
                    <span class="bold">Nome Utente</span>
                </div>

                <!--Sezione dei button-->
                <div class="user-button">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

            </div>

            <!--Sezione per attivare le notifiche-->
            <div class="switch">

                <!--icona bell di font awesome-->
                <i class="fa-solid fa-bell-slash"></i>

                <!--testo della sezione-->
                <div class="switch-text">
                    <span class="bold">Ricevi notifiche di nuovi messaggi</span>
                    <a href='#' class="link">Attiva notifiche desktop</a>
                </div>
                
            </div>

            <!--Sezione input per ricerca della chat-->
            <div class="input-box">
                <div class="input-section">
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="inputFilter">
                    <i class="fa-solid fa-magnifying-glass"></i> 
                </div>
               
            </div>

            <!--Sezione delle conversazioni-->
            <div class="conversations">

                <div class="chat" :class="(index == active) ? 'active':''" v-for="(contact,index) in contacts" @click="changeChat(index)">

                    <div class="chat-avatar">
                        <img class="avatar" :src="`img/avatar${contact.avatar}.jpg`" alt="user picture">
                    </div>
    
                    <div class="chat-items">
                        <div class="chat-info">
                            <span class="bold">{{contact.name}}</span>
                            <span class="date">10/01/2020 16:15:22</span>
                        </div>
    
                        <div class="message">
                           <p > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae velit debitis assumenda enim dolore laudantium expedita perferendis mollitia, nam qui libero dolor laboriosam beatae aliquid eius aliquam quaerat cumque magnam?</p>
                        </div>
                    </div>
                    
                </div>
            </div>
               
        </aside>

        <!--Main-->
        <main>
            <!--Info della chat-->
            <div class="chat-details" >
                <div class="user-info" >
                    <img class="avatar" :src="`img/avatar${contacts[active].avatar}.jpg`" alt="user picture">
                    
                    <div class="user-access">
                        <span class="bold">{{contacts[active].name}}</span>
                        <span>Ultimo accesso oggi 10/01/2020</span>
                        <span>alle 16:15:22</span>
                    </div>

                </div>

                <div class="user-button-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>

            </div>

            <!--Elenco della cronologia dei messaggi-->
            <div class="chat-text">

                <div class="chat-area" v-for="message in contacts[active].messages">
                    <div class="message" :class="(message.status == 'sent') ? 'sent':'recived'">
                        <span>{{message.text}}</span>
                        <span class="message-date">{{message.date}}</span>
                    </div>
                  
                </div>
                

            </div>

            <!--Sezione di input della chat-->
            <div class="chat-input">
                <div class="icon">
                    <i class="far fa-face-smile"></i>
                </div>
                
                <div class="message-input">
                    <input @keyup.enter="sendMessage" type="text" placeholder="Scrivi un messaggio" v-model = "newMessage">
                </div>
                
                <div class="icon">
                    <i class="fa-solid fa-microphone"></i>
                </div>
                
            </div>

        </main>
       

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>